simianarmy.chaos.enabled={{ CHAOS_ENABLED }}
simianarmy.chaos.leashed={{ CHAOS_LEASHED }}
simianarmy.chaos.ASG.enabled={{ CHAOS_ASG_ENABLED }}
simianarmy.chaos.notification.global.receiverEmail={{ CHAOS_GLOBAL_NOTIFICATION_EMAIL }}
simianarmy.chaos.ASG.probability={{ CHAOS_ASG_PROBABILITY }}
simianarmy.chaos.notification.sourceEmail={{ CHAOS_SOURCE_EMAIL }}
simianarmy.chaos.notification.global.enabled={{ CHAOS_NOTIFICATIONS_ENABLED }}
