simianarmy.recorder.sdb.domain={{ SIMIAN_SDB_DOMAIN }}
simianarmy.scheduler.frequency={{ SIMIAN_FREQUENCY }}
simianarmy.scheduler.frequencyUnits={{ SIMIAN_FREQUENCY_UNITS }}
simianarmy.calendar.timezone={{ SIMIAN_TIMEZONE }}
simianarmy.calendar.isMonkeyTime={{ SIMIAN_MONKEYTIME }}
